<div class="homehero">
    <video playsinline loop muted autoplay poster="/images/drone-image.jpg" class="max-w-none"> -->
        <source src="/media/drone-footage.mp4" type="video/mp4">
    </video>
    <div class="flex min-h-screen flex-col">
        <div class="flex-1"></div>
        <h1 id="about" class="text-center text-white text-5xl sm:text-6xl md:text-7xl lg:text-8xl mb-4 md:mb-8">Tyler Benster</h1>
        $partial("templates/nav.html")$
    </div>
</div>

<div class="section">
    <br>

    <div class="container mx-auto max-w-screen-md prose lg:prose-lg xl:prose-xl">
        <figure class="pt-8">
            <img class="w-96 h-96 rounded-full mx-auto" src="/images/tyler_benster_headshot.jpg" alt="Tyler Benster headshot">
            <div class="pt-6 text-center space-y-4">
                <figcaption>
                    <h2 class="font-black text-3xl text-gray-900">Hi, I'm Tyler.</h2>
                </figcaption>
            </div>
        </figure>
        <div class="text-justify pb-8">
            $body$
        </div>
    </div>
</div>
