<nav>
    $if(homepage)$
    $else$
    <!-- <div class="flex"> -->
        <div class="item logo">
            <a href="/">Tyler Benster</a>
        </div>
    $endif$
        <div class="item">
            <a href="/#about">About</a>
        </div>
        <div class="item">
            <a href="/writing.html">Writing</a>
        </div>
        <div class="item">
            <a href="/speaking.html">Speaking</a>
        </div>
        <!-- <div class="item">
            <a href="software.html">Software</a>
        </div> -->
        <!-- <div class="item">
            <a href="science.html">Science</a>
        </div> -->
        <!-- <div class="item">
            <a href="/contact.html">Contact</a>
        </div> -->
    $if(no_logo)$
    $else$
    <!-- </div> -->
    $endif$
</nav>
